.angularpeeker_peekerActivated {
    cursor: crosshair;
    user-select: none;
}

.angularpeeker_elementHovered {
    background-color: #ffe0d9;
    box-sizing: border-box;
    border: 2px solid red;

}